body{
    background-color: #F9EFB7;
}
img{
    width: 100%;
}
.text-center{
    text-align: center;
}
#start{
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #fff;/*ボタン色*/
    border: solid 4px #481945;
    border-radius: 3px;
    margin: 50px 0 30px;
    box-shadow: 2px 2px 1px 1px #bbb;
}
#start:hover{
    background-color: #EAE8EA;
}
.janken_title{
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0 20px;
}
.janken_title_sub{
    font-size: 22px;
    margin: 0 0 40px;
    line-height: 1.5;
}
.content-title{
    font-size:26px;
    color:#969595;
    font-weight: bold;
    margin: 20px 0 30px;
}
.content-wrap{
    max-width:1200px;
    height:auto;
    margin:50px auto 0;
}
.content-list{
    display: flex;
    border: 5px solid #481945;
}
.content-left{
    width:60%;
    justify-content: center;
    align-items:center;
    background-color: #fff;
    border-right: 5px solid #481945;

}
.left-item{
    width:33.33%;
}
.content-right{
    width: 40%;
    background-color: #fff;
}
.janken-area{
    margin: 0 20px;
}
.left-list{
    display: flex;
}
.your-area{
    height: 300px;
    border-bottom: 5px solid #481945;
}
.your-area img{
    width:30%;
    
}
.pc-area{
    height: 300px;

}
.pc-area img{
    width:30%;
}
.kekka{
    margin: 80px 0 0;
}
.kekka img{
    width:100px;
    height: auto;
    vertical-align: middle;
}
.kekka-text{
    font-size: 64px;
    font-weight: bold;
}
