body{
    background-color: #F9EFB7;
}
img{
    width: 100%;
}
.text-center{
    text-align: center;
}
.janken_title{
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0 20px;
}
.janken_title_sub{
    font-size: 22px;
    margin: 0 0 50px;
}
.content-title{
    font-size:26px;
    color:#969595;
    font-weight: bold;
    margin: 20px 0 30px;
}
.content-wrap{
    max-width:1200px;
    height:auto;
    margin:50px auto 0;
}
.content-list{
    display: flex;
    border: 5px solid #481945;
}
.content-left{
    width:60%;
    justify-content: center;
    align-items:center;
    background-color: #fff;
    border-right: 5px solid #481945;

}
.left-item{
    width:33.33%;
}
.content-right{
    width: 40%;
    background-color: #fff;
}
.janken-area{
    margin: 0 20px;
}
.left-list{
    display: flex;
}
.your-area{
    height: 300px;
    border-bottom: 5px solid #481945;
}
.your-area img{
    width:30%;
    
}
.pc-area{
    height: 300px;

}
.pc-area img{
    width:30%;
}
.kekka{
    margin: 100px 0 0;
}
.kekka img{
    width:100px;
    height: auto;
    vertical-align: middle;
}
.kekka-text{
    font-size: 64px;
    font-weight: bold;
}
